body,
html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}

h1,
h2,
h4,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body.desc {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  width: 100%;
  background-color: #e5e4e2;
  padding-bottom: 56px;
}

.padding-20 {
  padding: 24px;
}

.dot {
  margin: 0 5px;
}

.dot::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  border: 1px solid #fff;
}

.header.active {
  border-bottom: 1px solid #ebebeb;
}

.header__about {
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__about.active {
  opacity: 1;
}

.header__about__title {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  font-weight: 500;
  margin-bottom: 5px;
}

.header__about__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.header__close {
  max-width: 20px;
}

.header__close img {
  max-width: 100%;
  height: auto;
}

.header__options {
  max-width: 20px;
}

.header__options img {
  max-width: 100%;
  height: auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.job-name {
  background-color: #fff;
  padding-top: 63px;
  margin-bottom: 8px;
}

.job-name__title {
  font-size: 2.4rem;
  line-height: 1.33333;
  font-weight: 600;
  margin-bottom: 8px;
}

.job-name__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-name__info__photo {
  max-width: 50px;
  margin-right: 8px;
}

.job-name__info__photo img {
  max-width: 100%;
  height: auto;
}

.job-name__info__description {
  font-size: 1.4rem;
  line-height: 1.42857;
  margin-bottom: 10px;
}

.job-name__info__description__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-name__date {
  font-size: 1.4rem;
  line-height: 1.42857;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-name__date__applicants {
  color: #057642;
  font-weight: 600;
}

.job-name__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.job-name__buttons__item {
  text-align: center;
  display: block;
  width: 49%;
  padding: 5px 0;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #0a66c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job-name__buttons__item__img {
  margin-right: 5px;
  max-width: 15px;
}

.job-name__buttons__item--apply {
  color: #fff;
  border: none;
  background-color: #0a66c2;
}

.job-name__buttons__item --save {
  color: #0a66c2;
  border: 1px solid #0a66c2;
  background-color: #faf8f8;
}

.job-description {
  background-color: #fff;
  margin-bottom: 8px;
}

.job-description__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.job-description__title {
  padding: 20px 20px 0 20px;
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
  margin: 0;
}

.job-description__info {
  max-height: 110px;
  overflow: hidden;
}

.job-description__info__list {
  margin-top: 10px;
  padding: 0 20px;
}

.job-description__info__list__item {
  list-style: none;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
}

.job-description__button {
  line-height: 1;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ebebeb;
  padding: 10px 0;
  color: #0a66c2;
  font-weight: 600;
}

.job-description__button:hover {
  background-color: #e2f0fe;
}

.alert {
  background-color: #fff;
  margin-bottom: 8px;
}

.alert__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert__text__title {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
}

.alert__text__subtitle {
  color: #6f6b6b;
  font-weight: 400;
  font-size: 1.4rem;
}

.alert__switch {
  position: relative;
}

.alert__switch__field {
  width: 25px;
  height: 11px;
  border-radius: 10px;
  background-color: #ccc;
}

.alert__switch__item {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 18px;
  width: 18px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.alert__switch__item.active {
  background-color: #0a66c2;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.author {
  background-color: #fff;
  margin-bottom: 8px;
}

.author__title {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
  margin-bottom: 10px;
}

.author__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author__info__photo {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.author__info__photo img {
  max-width: 100%;
  height: auto;
}

.author__info__text__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.author__info__text__name__pos {
  color: #6f6b6b;
}

.author__info__text__position {
  font-size: 14px;
  font-weight: 400;
}

.pay {
  background-color: #fff;
  margin-bottom: 8px;
}

.pay__title {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 20px 20px 0 20px;
}

.pay__text {
  padding: 0 20px;
  color: #6f6b6b;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.pay__poll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  background-color: #f1f0ee;
  color: #6f6b6b;
  font-weight: 400;
  font-size: 1.4rem;
}

.pay__poll__question {
  width: 80%;
  padding-right: 20px;
}

.pay__poll__variants {
  width: 20%;
  font-weight: 600;
  font-size: 1.6rem;
}

.rank {
  background-color: #fff;
  margin-bottom: 8px;
}

.rank__title {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
}

.rank__text {
  color: #6f6b6b;
  font-weight: 400;
  font-size: 1.4rem;
}

.rank__premium {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rank__premium__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rank__premium__photos__item {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -5px;
}

.rank__premium__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
  color: #6f6b6b;
  font-weight: 400;
  font-size: 1.15rem;
}

.rank__button {
  display: block;
  width: 100%;
  background-color: #f8c77e;
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 600;
}

.connections {
  background-color: #fff;
  margin-bottom: 8px;
}

.connections__title {
  padding: 20px 20px 0 20px;
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
  margin-bottom: 10px;
}

.connections__item {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.connections__item:last-child {
  margin-bottom: 0;
}

.connections__item__photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.connections__item__photo img {
  max-width: 100%;
  height: auto;
}

.connections__item__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}

.connections__item__info__text {
  margin-left: -10px;
}

.connections__item__info__text__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.connections__item__info__text__name__pos {
  color: #6f6b6b;
}

.connections__item__info__text__position {
  font-size: 14px;
  font-weight: 400;
}

.connections__item__info__link {
  width: 20px;
  height: 20px;
  padding: 9px;
  border-radius: 50%;
  border: 1px solid #0a66c2;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connections__item__info__link__img {
  width: 20px;
  height: auto;
  margin-left: -4px;
}

.about {
  background-color: #fff;
  margin-bottom: 8px;
}

.about__title {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
  margin-bottom: 10px;
}

.about__panel {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__panel__photo {
  max-width: 50px;
  margin-right: 10px;
}

.about__panel__photo img {
  max-width: 100%;
  height: auto;
}

.about__panel__info__name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.about__panel__info__followers {
  font-size: 14px;
  font-weight: 400;
}

.about__panel__follow {
  margin-left: auto;
  font-size: 16px;
  font-weight: 500;
  color: #6f6b6b;
}

.about__text {
  max-height: 120px;
  overflow: hidden;
}

.about__text__item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #6f6b6b;
}

.about__text__item.dots {
  margin-top: -15px;
}

.about__text__item:last-child {
  margin-bottom: 0;
}

.about__more {
  font-size: 14px;
  font-weight: 600;
}

.desciption {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.desciption.active {
  z-index: 100000;
  opacity: 1;
}

.desciption.remove {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.desciption__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid #ebebeb;
}

.desciption__header__img {
  max-width: 20px;
}

.desciption__header__img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.desciption__header__text {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
  margin-left: 50px;
}

.desciption__list {
  margin-bottom: 30px;
  padding: 0 20px;
}

.desciption__list-title {
  margin: 30px 0;
  padding: 0 20px;
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
}

.desciption__list__item {
  list-style: none;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  margin-bottom: 5px;
}

.desciption__details {
  padding: 0 20px;
}

.desciption__details__title {
  font-size: 1.8rem;
  line-height: 1.33333;
  font-weight: 600;
}

.desciption__details__item {
  margin-top: 10px;
}

.desciption__details__item__title {
  color: #6f6b6b;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.desciption__details__item__subtitle {
  font-weight: 500;
  font-size: 1.6rem;
}

.footer-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #fff;
}

.footer-btn__item {
  width: 100%;
  text-align: center;
  display: block;
  padding: 10px 0;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #0a66c2;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */